@{
    ViewData["Title"] = "AddTest";
}


    <h1 class="display-4">Welcome this is first add test form</h1>
    <hr>
    <form action="insertest" method="post">
    
    <div class="form-group">
        <label for="testname">Test Name</label>
       @Html.TextBox("testname", null, new { @class = "form-control", @placeholder="Enter Test Title"})
        <small id="testname" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    
    <div class="form-group">
        <label for="testtype">Test Type</label>
        @Html.TextBox("testtype", null, new { @class = "form-control", @placeholder="Enter Test Type"})
        <small id="testtype" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="testxpath1">Element Xpath1</label>
        @Html.TextBox("testxpath1", null, new { @class = "form-control", @placeholder="Enter Test Xpath1"})
        <small id="testxpath1" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="testxpath2">Element Xpath2</label>
        @Html.TextBox("testxpath2", null, new { @class = "form-control", @placeholder="Enter Test Xpath2"})
        <small id="testxpath2" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="teststatus">Test Status</label>
         @Html.TextBox("teststatus", null, new { @class = "form-control", @placeholder="Enter Test Status"})
        <small id="teststatus" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    

